
.contdispbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    align-items: center;
    width: 50%;
    height: 300px;
}

.dispconttitle {
    background-color: #DDFFDD;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    /* border: 1px solid black; */

}

.contdispmsg {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}