

/* html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background-image: url('./new-product-background.jpg');
  background-size: cover;
  background: linear-gradient(#141e30, #243b55);
} */

.npproduct-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 215);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.npproduct-box .nph2 {
  margin: 0 0 30px;
  padding: 0;
  color:black;
  text-align: center;
}

.npproduct-box .npproduct-detail-box {
  position: relative;
}

.npproduct-box .npproduct-detail-box .npinput {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(30, 3, 73);
  outline: none;
  background: transparent;
}
.npproduct-box .npproduct-detail-box .nplabel {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color:black;
  pointer-events: none;
  transition: .5s;
}

.npproduct-box .npproduct-detail-box .npinput:focus ~ .nplabel,
.npproduct-box .npproduct-detail-box .npinput:valid ~ .nplabel {
  top: -20px;
  left: 0;
  color: black;
  font-size: 12px;
}

.npproduct-box .npform .npbutton {
  position: relative;
  display: block;
  text-align: center;
  padding: 10px 20px;
  color:black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.npproduct-box .npbutton:hover {
  background: #0a4447;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #0b2e30b6,
              0 0 25px #0e4144cb,
              0 0 50px #0464696c,
              0 0 100px #03e8f442;
}

.npproduct-box .npbutton span {
  position: absolute;
  display: block;
}

.npproduct-box .npbutton span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, black);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.npproduct-box .npbutton span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.npproduct-box .npbutton span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.npproduct-box .npbutton span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}